<h1>enter a new appliance</h1>

<%= form_for :appliance, url: appliances_path do |f| %>
	<p>
		<%= f.label :brand_name %> <br>
		<%= f.text_field :brand_name %>
	</p>

	<p>
		<%= f.label :app_model_name %> <br>
		<%= f.text_field :app_model_name %>
	</p>

	<p>
		<%= f.label :app_model_number %> <br>
		<%= f.text_field :app_model_number %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>
